.badge {
  line-height: 20px !important;
  width: 20px !important;
  padding: 0 !important;
  background: red !important;
  position: relative !important;
  top: -15px !important;
  left: -15px !important;
}
