.card {
  height: 200px;
  color: white;
  background: linear-gradient(-225deg, 
    rgba(0,0,0,0.6) 0%, 
    rgba(0,0,0,0.3) 50%), 
    url("http://unsplash.it/250/300/?random");
  background-size: cover;
  position: relative;
  margin: 10px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-description {
  position: absolute;
  left: 10px;
  top: 50px;
}

.card-user {
  position: absolute;
  top: 10px;
  right: 10px;
}